* {
    margin: 0;
    padding: 0;
    font-family: fzlth,sans-serif;
    font-size: 1.1rem;
    font-weight: 1000;
}
/* 顶层容器 */
.top-bar {
    background: #c7cad5;
    backdrop-filter: blur(30px);
    position: fixed;
    top: 10px;
    border-radius: 10px;
    width: calc(100% - 20px);
    margin: 0 10px;
}

#logout{
    display: inline-block;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

/* 导航项容器 */
.bar {
    padding: 1.2rem;
    display: flex;
    gap: 3rem;
    list-style: none;
}

/* 导航项样式 */
.bar li {
    color: #000000;
    position: relative;
    padding: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
}


/* 创建阴影块 */
.bar li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 20px);
    height: calc(100% + 15px);
    background: rgb(183, 187, 195);
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bar li:hover::before {
    opacity: 1; /* 显示阴影层 */
}

.bar-logo{
    height: 42px; /* 根据实际图片比例调整 */
    margin-left: 20px;
    margin-right:auto;
}

#quit_login{
    margin-left: auto;
}

#show-nickname{
    margin-left: auto;
    pointer-events: none;
}
